@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$main-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Poppins', sans-serif;
$color-red: #ff497c;
$color-green: #a0ce4e;
$color-blue: #00bea3;
$color-orange: #f1894c;
$color-bright: white;
$color-dark: #1f2732;
$color-gray: #5c5c5c;

* {
	margin: 0;
	padding: 0;

	white-space: nowrap;

	border: 0;
}

body, html {
	margin: 0;
	padding: 0;

	color: $color-bright;

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

body {
	background-color: $color-bright;
}

ul {
	list-style-position: inside;
	list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;

	color: $color-bright;
}

::selection {
	background-color: $color-red;
}