@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

body, html {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

body {
  background-color: white;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

::-moz-selection {
  background-color: #ff497c;
}

::selection {
  background-color: #ff497c;
}
