@import "./variables";

#hero {
  z-index: 1;
  position: relative;
  flex-direction: column;

  background-color: black;

  &::after {
    z-index: 2;

    position: absolute;
    width: 100%;
    height: 100%;

    content: "";

    opacity: 0.2;
    background-color: $color-orange;
  }

  #hero__video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  #hero__logo {
    z-index: 3;

    position: relative;
    width: 40rem;
    padding: 8rem;
  }

  #hero__descro {
    z-index: 3;

    position: relative;

    text-transform: uppercase;

    letter-spacing: 0.6rem;
    font-size: 1.2rem;
    font-weight: 300;

    span {
      padding-inline: 0.5rem;
    }
  }
}
