@import "./variables";

#navigation {
  --height: 60px;

  z-index: 200;
  position: fixed;
  top: calc(-1 * var(--height));
  width: 100%;
  height: var(--height);

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.2s;
  animation: gradient-animation 5s ease infinite;

  background: linear-gradient(220deg, $color-red, $color-orange);
  background-size: 400% 400%;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }

  &.dropped {
    top: 0;
  }

  #navigation__logo {
    margin-left: 3rem;
    width: 200px;
    height: 50px;

    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }

  #navigation__links {
    position: fixed;
    height: var(--height);
    left: 50%;

    display: flex;

    transition: 0;
    transform: translate(-50%, 0);

    .navigation__link {
      height: 100%;
      padding-inline: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;

      letter-spacing: 0.06rem;
      text-transform: uppercase;

      font-size: 0.8rem;
      font-weight: 500;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  #navigation__phone {
    margin-right: 3rem;
    font-size: 1.4rem;
    font-weight: 300;
    > span {
      padding-left: 0.5rem;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
