@import "./variables";

#team {
  z-index: 3;

  position: relative;
  width: 100%;
  height: auto;

  flex-direction: column;
}

#team__header {
  z-index: 2;

  position: relative;
  width: 100%;
  height: calc((100vh - 60px) * 0.4);
}

#team__forground {
  z-index: 2;

  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  overflow: hidden;

  cursor: default;

  .team__card {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;

    > * {
      transition: 0.2s;
    }

    .card__count {
      z-index: 1;
  
      position: absolute;
      top: 8rem;
      margin-inline: 2.5rem;
  
      opacity: 1;
  
      color: rgb(255, 255, 255);
      background: linear-gradient(220deg, #ff497c, #f1894c);
      background-clip: text;
  
      font-size: 12rem;
      font-weight: 600;
    }

    &:hover {
      .card__count {
        color: rgba(255, 255, 255, 0);
      }
    }
  }

  .team__card-toggled {
    .card__count {
      top: 2rem;
    }

    .card__headline {
      top: 15rem;
    }

    .card__descro {
      top: 20rem;

      opacity: 1;

      line-height: 1.4rem;
    }
  }

  .card__headline {
    position: absolute;
    top: 20rem;
    margin: 1rem 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 0.1rem;

    font-size: 2rem;
    font-weight: 300;
  }

  .card__descro {
    position: absolute;
    top: 30rem;
    margin: 0 2.5rem;

    white-space: normal;
    letter-spacing: 0.04rem;

    opacity: 0;

    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
  }
}

#team__background {
  z-index: 1;

  position: absolute;
  width: 100%;
  height: 100%;

  &::before {
    z-index: 2;

    position: absolute;
    width: 100%;
    height: 100%;

    content: "";
    animation: gradient-animation 10s ease infinite;

    opacity: 0.3;
    background: linear-gradient(220deg, #00bea3, #f1894c);
    background-size: 400% 400%;
  }

  &::after {
    z-index: 3;

    position: absolute;
    width: 100%;
    height: 100%;

    content: "";

    opacity: 0.4;
    background-color: #26000b;
  }

  .background__card {
    z-index: 1;

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.2s;

    opacity: 0;
    background-position: center;
    background-size: cover;
  }

  .show {
    opacity: 1;
  }
}

#team__content {
  width: 100%;
  height: calc((100vh - 60px) * 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  background-color: $color-bright;

  #team__world {
    display: flex;

    > img {
      width: 400px;
      margin: 2rem;
    }

    .team__statement {
      width: 50rem;
      height: auto;
      margin: 2rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      color: $color-gray;

      > h1 {
        margin: 0.5rem 0;

        letter-spacing: 0.06rem;
        text-transform: uppercase;

        font-size: 1.2rem;
        font-weight: 400;
      }

      > p {
        margin: 0.5rem 0;

        white-space: normal;
        letter-spacing: 0.01rem;

        font-size: 1rem;
        font-weight: 300;
        line-height: 1.6rem;
      }
    }
  }

  .team__feedback {
    display: flex;
    gap: 5rem;
  }

  .team__feedback_card {
    width: 35rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: default;

    color: $color-gray;

    > p {
      transition: 0.2s;
      text-align: center;
      white-space: normal;
      text-decoration: underline;
      letter-spacing: 0.01rem;

      font-size: 1rem;
      font-weight: 300;
      line-height: 1.6rem;
    }

    > img {
      position: absolute;
      width: 120px;

      transform: translateY(1.8rem);
    }

    > h2 {
      transition: 0.2s;
      text-decoration: underline;
      letter-spacing: 0.06rem;

      font-size: 0.9rem;
      font-weight: 400;
    }

    > span {
      height: 100px;

      transition: 0.2s;
    }

    > .team__feedback-red {
      transition: 0.2s ease;

      opacity: 0;
    }

    > .team__feedback-gray {
      transition: 0.2s ease;
    }

    &:hover {
      > p {
        color: $color-red;
      }

      > h2 {
        color: $color-red;
      }

      > .team__feedback-red {
        opacity: 1;
      }

      > .team__feedback-gray {
        opacity: 0;
      }
    }
  }
}
