$main-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Poppins', sans-serif;
$color-red: rgb(255, 73, 124);
$color-orange: rgb(241, 137, 76);
$color-green: #a0ce4e;
$color-blue: #00bea3;
$color-bright: white;
$color-dark: #1f2732;
$color-gray: #414141;